body {
  font-family: "Titillium Web", sans-serif;
  background-color: #fff;
  background-image: url("/img/wood-pattern-1920x1080.png");

}
.navbar-nav > li {
  float: none;
  vertical-align: bottom;
}
.content, .slogan, .recogida-domicilio, .hero-text, .container{
  margin: .4em;
}
#site-logo {
  position: relative;
  vertical-align: bottom;
  bottom: -35px;
}
#site-logo a {
  margin-top: -53px;
}
.whatsapp-link{
  text-decoration: none;
  color: #4d959f;
}
.whatsapp-link:hover{
  text-decoration: none;
  color: #4d959f;
}

.hero-text {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 5vh;
  margin: auto;
  text-align: center;
  color: #ffffff;
  left: 4vw;
  right: 4vw;
}

div.shadow {
  position:absolute;
  top:50%;
  left:50%;
  overflow:visible;
}
img.logo {
  position:relative;
  max-width:100%;
  max-height:100%;
  margin-right:-50%;
  margin-left:-50%;
  margin-top: -45%;
  z-index: -1;
}
