body {
  font-family: "Titillium Web", sans-serif;
  background-color: #fff;
}
.navbar-nav > li {
  float: none;
  vertical-align: bottom;
}
#site-logo {
  position: relative;
  vertical-align: bottom;
  bottom: -35px;
}
#site-logo a {
  margin-top: -53px;
}
.whatsapp-link{
  text-decoration: none;
  color: #ffc80f;
}
.whatsapp-link:hover{
  text-decoration: none;
  color: #ac9333;
}


.hero-image {
  background-image: url("/img/bici-rueda-trasera-dorada.jpg");
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* background-attachment: fixed; */
}

.hero-text {
  text-align: center;
  position:absolute;
  color: #ac9333;
  left: 2em;
  right: 2em;
  top: 5em;
}