body {
  font-family: "Titillium Web", sans-serif;
}
.navbar-nav > li {
  float: none;
  vertical-align: bottom;
}
#site-logo {
  position: relative;
  vertical-align: bottom;
  bottom: -35px;
}
#site-logo a {
  margin-top: -53px;
}